# DAP Lab 3

### 1) Using a lambda expression, complete the mul_by_num function. This function should take an argument and return a one argument function that multiplies any value passed to it by the original number. Its body must be one line long:

In [1]:
def mul_by_num(num):
    return lambda n: n*num

In [2]:
x = mul_by_num(5)
y = mul_by_num(2)
print(x(3))
print(y(-4))

15
-8

### 2) The Fibonacci numbers are the numbers in the following integer sequence.

### 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ……..

### In mathematical terms, the sequence Fn of Fibonacci numbers is defined by the recurrence relation: Fn = Fn-1 + Fn-2 with seed values F0 = 0 and F1 = 1.

### Write a function that takes in a number n, and gives the Fibonacci sequence. For example, fib(5) = [0, 1, 1, 2, 3] (Advanced programmers: Bonus points if you can do this using a lambda function)

In [3]:
def fibonacci(num):
    n = num
    count = 1
    a = 0
    b = 1
    sum = 0
    a = 0
    print("Fibonacci Series: ", end = " ")
    while(count <= n):
        print(sum, end = " ")
        count += 1
        a = b
        b = sum
        sum = a + b

In [4]:
fibonacci(20)

Fibonacci Series:  0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

### 3) Write a program to get the current weather of a city given in input. You can use the following API documentation: https://openweathermap.org/current

### Hint: The GET request should have the following string appended at the end of the query for auth:

### You should retrieve for the city:
###    Temperature: 12.32°C
###    Wind speed: 8.7 m/s
###    Description: moderate rain
###    Weather: Rain

In [5]:
!pip install requests

Requirement already satisfied: requests in c:\users\kenec\anaconda3\lib\site-packages (2.22.0)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\kenec\anaconda3\lib\site-packages (from requests) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\kenec\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\kenec\anaconda3\lib\site-packages (from requests) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kenec\anaconda3\lib\site-packages (from requests) (2019.11.28)

### Weather Info for Dublin.

In [6]:
import requests
import json
response = requests.get('http://api.openweathermap.org/data/2.5/weather?q=Dublin&appid={YOUR API KEY}')

In [7]:
print(response.status_code)

200

In [8]:
print (json.dumps(response.json(), indent=4, sort_keys=True))

{
    "base": "stations",
    "clouds": {
        "all": 1
    },
    "cod": 200,
    "coord": {
        "lat": 37.7,
        "lon": -121.94
    },
    "dt": 1602708865,
    "id": 5344157,
    "main": {
        "feels_like": 300.71,
        "humidity": 19,
        "pressure": 1019,
        "temp": 304.08,
        "temp_max": 306.48,
        "temp_min": 300.93
    },
    "name": "Dublin",
    "sys": {
        "country": "US",
        "id": 4774,
        "sunrise": 1602684930,
        "sunset": 1602725482,
        "type": 1
    },
    "timezone": -25200,
    "visibility": 10000,
    "weather": [
        {
            "description": "clear sky",
            "icon": "01d",
            "id": 800,
            "main": "Clear"
        }
    ],
    "wind": {
        "deg": 360,
        "speed": 3.1
    }
}

### 4) Write a program to read the xml file people.xml and output a csv file and json file with the same information. 

### Validate the Json using https://jsonlint.com/

### Import the CSV using Excel

#### Converting XML to JSON

In [9]:
!pip install xmltodict

Requirement already satisfied: xmltodict in c:\users\kenec\anaconda3\lib\site-packages (0.12.0)

In [10]:
import json 
import xmltodict 
  
# open the input xml file and read 
# data in form of python dictionary  
# using xmltodict module 
with open("people.xml") as xml_file: 
      
    data_dict = xmltodict.parse(xml_file.read()) 
    xml_file.close() 
      
    # generate the object using json.dumps()  
    # corresponding to json data 
      
    json_data = json.dumps(data_dict)

#### Save JSON File

In [11]:
with open("people.json", "w") as json_file: 
        json_file.write(json_data) 
        json_file.close()

#### Read JSON File

In [12]:
with open('people.json') as json_data:
    details = json.load(json_data)
user_data = details['State']['Resident']

In [13]:
import pandas as pd
# define the dataframe columns
column_names = ['ID', 'Name', 'PhoneNumber', 'EmailAddress', 'Address', 'City', 'StateCode', 'PostalCode'] 

# instantiate the dataframe
user_details = pd.DataFrame(columns=column_names)
for data in user_data:
    ID = data['@Id']
    user_name = data['Name']
    user_ph = data['PhoneNumber']    
    user_email = data['EmailAddress']
    user_address = data['Address']['StreetLine1']
    user_city = data['Address']['City']
    user_state = data['Address']['StateCode']
    user_post = data['Address']['PostalCode']
    
    user_details = user_details.append({'ID': ID,
                                          'Name': user_name,
                                          'PhoneNumber': user_ph,
                                          'EmailAddress' : user_email,
                                          'Address': user_address,
                                          'City': user_city,
                                          'StateCode': user_state,
                                          'PostalCode': user_post}, ignore_index=True)
user_details

,ID,Name,PhoneNumber,EmailAddress,Address,City,StateCode,PostalCode
0,100,Sample Name,12345642357891,sample_name@example.com,Street Line1,City Name,AE,12345
1,101,Sample Name1,1234567891,sample_name1@example.com,Current Address,Los Angeles,CA,56666
2,103,Sample Name2,1234567891,sample_name1@example.com,Current Address,Los Angeles,CA,56666
3,104,Sample Name3,1234567891,sample_name1@example.com,Current Address,Los Angeles,CA,56666
4,105,Sample Name4,1234567891,sample_name1@example.com,Current Address,Los Angeles,CA,56666
5,106,Sample Name5,1234567891,sample_name1@example.com,Current Address,Los Angeles,CA,56666
6,107,Sample Name6,1234567891,sample_name1@example.com,Current Address,Los Angeles,CA,56666
7,108,Sample Name7,1234567891,sample_name1@example.com,Current Address,Los Angeles,CA,56666

#### Convert and Save CSV

In [14]:
user_details.to_csv('people.csv')