# DAP Lab 2

### 1) Using the type function, determine the datatype of the following literal values:

In [1]:
type('a')

str

In [2]:
type('abcd')

str

In [3]:
type(u'abcd')

str

In [4]:
type("x")

str

In [5]:
type("yz")

str

In [6]:
type(122)

int

In [10]:
type(2)

int

In [11]:
type(9)

int

In [12]:
type(0x2)

int

In [13]:
type(True)

bool

In [73]:
type(False)

bool

In [15]:
type((1,2))

tuple

In [16]:
type(["1", 2])

list

In [17]:
type({123: "abc", 345: "alive"})

dict

### 2) Investigate the use of the id function. Enter the following and note the return value in each case. Are the return values equal or unequal? If they are equal, then why is this the case?

In [19]:
x = "a"
y = "a"
print(id(x))
print(id(y))
x = "another string"
y = "another string"
print(id(x))
print(id(y))

1671211773424
1671211773424
1671254951728
1671254951408

### 3) Create a list to store the following values: 1, 2, 3, 4, 5, 6 and assign this list to a variable called myList .

#### Print the contents myList.

In [10]:
myList = [1, 2, 3, 4, 5, 6]

print(myList)

[1, 2, 3, 4, 5, 6]

In [11]:
type(myList)

list

#### Print the contents of myList in reverse using index slicing.

In [12]:
print(myList[::-1])

[6, 5, 4, 3, 2, 1]

#### Print the contents of myList in reverse using a loop.

In [13]:
for item in reversed(myList):
    print(item)

6
5
4
3
2
1

#### Append 10 random integers to myList using a loop.

In [14]:
import random

In [15]:
count = 0
end = 10

while count < end:
    myList.append(random.randrange(10))
    count= count + 1

In [16]:
print(myList)

[1, 2, 3, 4, 5, 6, 4, 2, 5, 0, 5, 1, 2, 0, 4, 9]

#### Extend myList with the following list [200, 300].

In [17]:
myList.append([200, 300])

In [18]:
print(myList)

[1, 2, 3, 4, 5, 6, 4, 2, 5, 0, 5, 1, 2, 0, 4, 9, [200, 300]]

#### Store the last number in the list in a variable called lastVal and remove that value from myList . [Note: for this task you should investigate using the pop() method.]

In [19]:
lastVal = myList.pop()

In [20]:
print(lastVal)

[200, 300]

### 4) Create an empty dictionary object called myDict . Using a loop structure, add an entry to myDict for each value in myList . The key values for entries in myDict should be integer values commencing at 0.

In [21]:
myDict = {}

In [22]:
type(myDict)

dict

In [27]:
count = 0
end = len(myList)

while count < end:
    myDict.update({count: myList[count]})
    count = count + 1

print(myDict)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 4, 7: 2, 8: 5, 9: 0, 10: 5, 11: 1, 12: 2, 13: 0, 14: 4, 15: 9}

### 5) Write code to generate the first 6 rows of Pascal’s Triangle. [Note: Please attempt this without accessing an algorithm specification from the web!!! For this task you should implement the required loop controls and use appropriate data-structuresWhen printing each row ensure that values are separated by a TAB character. ] Your output should be
### 1
### 1 1
### 1 2 1
### 1 3 3 1
### 1 4 6 4 1
### 1 5 10 10 5 1
### Investigate how to define functions in Python. Create a function that will print the first n rows of Pascal’s Triangle.

In [66]:
def pascalTrangle(limit):
    n = limit
    s = n
    x = 0
    y = 0
    z = s
    while x <= n:
        a = 1
        x = x + 1
        if (z <= 0):
            print(' ')
        else:
            z = z - 1
            if (y <= x):
                print(a)
                a = a*(x-y)/(y+1)
                y= y+1

In [67]:
pascalTrangle(21)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

### Additional Content

In [71]:
# Python code to demonstrate the working of
# complex(), real() and imag()

# importing "cmath" for complex number operations
import cmath

# Initializing real numbers
x = 50
y = 35

# converting x and y into complex number
z = complex(x, y);

# printing real and imaginary part of complex number
print("The real part of complex number is : ", end="")
print(z.real)

print("The imaginary part of complex number is : ", end="")
print(z.imag)

The real part of complex number is : 50.0
The imaginary part of complex number is : 35.0

In [72]:
print(z)

(50+35j)